@import 'variables';

body {
  font-family: 'Gilroy', sans-serif;
  background-color: $primary;
  color: white;
}

// Анимации
.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

// Кастомные классы
.bg-blur {
  backdrop-filter: blur(4px);
}