---
import Button from './UI/Button.astro';
import Icon from './UI/Icon.astro';
---

<section class="container mx-auto px-4 py-10 md:py-20">
  <div class="grid md:grid-cols-2 gap-8 items-center px-4 py-8 md:p-8 rounded-3xl bg-[#173550] bg-opacity-60 backdrop-blur-sm">
    <div class="relative ">
      <!-- Текст -->
      <h2 class=" text-2xl md:text-4xl mb-6 leading-tight text-white">
        Рассчитайте стоимость <br>
        внедрения CRM под ключ <br>
        в вашу компанию
      </h2>
      <!-- Кнопка -->
      <Button class="">
        Рассчитать стоимость
      </Button>
      <!-- Декоративные элементы -->
      

      
    </div>
    <div class="relative">
        <div class="md:absolute right-0 md:-right-10 -bottom-10 w-[330px] h-[715px] bg-[#2FF5E3] bg-opacity-60 rounded-full blur-[160px] hidden md:block -z-10"></div>
        <img 
        src="/images/crm-implementation.png" 
        alt="Внедрение CRM системы" 
        class="w-full h-auto rounded-3xl md:mt-[-170px] mb-[-30px]"
        width="600"
        height="486"
      />
    </div>
    
    
  </div>
</section>