---
import Button from './UI/Button.astro';
---

<section class="container mx-auto px-4 py-10 md:py-20">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
    <div class="lg:col-span-1">
      <h2 class="text-2xl md:text-4xl mb-12">Контакты</h2>
      
      <div class="space-y-8">
        <div>
          <p class="text-sm opacity-60 mb-2">Почта</p>
          <a href="mailto:nikolay@nsgroupp.ru" class="md:text-2xl hover:text-secondary transition-colors">nikolay@nsgroupp.ru</a>
        </div>
        
        <div>
          <p class="text-sm opacity-60 mb-2">Телефон</p>
          <a href="tel:+79655840034" class="md:text-2xl hover:text-secondary transition-colors">+7 965 584 00 34</a>
        </div>
        
        <div>
          <p class="text-sm opacity-60 mb-2">Адрес</p>
          <p class="md:text-2xl">ул. Петербургская 52, IT Park<br />Россия, РТ, Казань</p>
        </div>
      </div>
    </div>
    
    <div class="lg:col-span-2 bg-light bg-opacity-20 rounded-2xl backdrop-blur-sm h-full">
      <div style="position: relative; height: 100%;">
        <iframe 
          class="rounded-2xl opacity-50 w-full h-full min-h-[400px]"
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A7a6ba2ca361b4e0d8ec0c9cdabeb5752ab9e9eeb7577abccaecda4dca984a50f&amp;source=constructor" 
          frameborder="0"
          style="filter: invert(1) hue-rotate(170deg) brightness(3) contrast() saturate(1)"
        ></iframe>
      </div>
    </div>
  </div>
</section>