---
import Icon from './UI/Icon.astro';

const features = [
  {
    title: "Бизнес-процессы",
    image: "/images/business-processes.png"
  },
  {
    title: "Статистика и аналитика",
    image: "/images/analytics.png"
  },
  {
    title: "Телефония",
    image: "/images/telephony.png"
  },
  {
    title: "Документооборот",
    image: "/images/documents.png"
  },
  {
    title: "Автоматизация",
    image: "/images/automation.png"
  },
  {
    title: "Складской учет",
    image: "/images/warehouse.png"
  },
  {
    title: "Контроль задач и сделок",
    image: "/images/tasks.png"
  },
  {
    title: "Корпоративная почта",
    image: "/images/mail.png"
  }
];
---

<section class="container mx-auto px-4 py-20">
  <div class="text-center mb-20 max-w-4xl mx-auto">
    <h2 class="text-4xl mb-6">В конечном итоге у вас будет пульт управления вашим бизнесом и ростом продаж</h2>
    <p class="text-xl opacity-80">
      После внедрения и доработки CRM вы получаете:
    </p>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
    {features.map((feature, index) => (
      <div class="bg-dark-blue bg-opacity-70 rounded-2xl pl-6 pt-6 backdrop-blur-sm relative overflow-hidden" key={index}>
        <div class="absolute inset-0 bg-gradient-to-b from-white/10 to-transparent opacity-10"></div>
        
        <div class="relative z-10">
          <h3 class="text-lg font-medium mb-4">{feature.title}</h3>
          <div class="w-full flex rounded-tl-3xl overflow-hidden">
            <img 
              src={feature.image} 
              alt={feature.title}
              class="w-full h-full object-cover flex"
              width={276}
              height={276}
              loading="lazy"
            />
          </div>
        </div>
      </div>
    ))}
  </div>
</section>