---
import Icon from './UI/Icon.astro';

const features = [
  {
    problem: "Долгое время отдел продаж стагнирует, менеджеры пропускают заявки и звонки, забывают перезванивать клиентам",
    solution: "Отдел продаж стабильно растет и развивается, менеджеры больше никогда не упустят заявку или звонок, все коммуникации с клиентом в одном месте"
  },
  {
    problem: "Непонятно чем занимаются сотрудники, нет единой системы, сотрудники вечно чем-то заняты, а результатов нет",
    solution: "В любой момент можно посмотреть чем занят сотрудник, все письма, чаты, звонки, выполненные сотрудником задачи сохраняются в CRM"
  },
  {
    problem: "Невозможно проанализировать продажи, непонятно сколько пришло клиентов и откуда, кто из них оплатил, а кто нет",
    solution: "Вам доступны отчеты о работе отдела продаж, можно сверять план с фактом, а за счет сквозной аналитики рекламный бюджет больше не будут сливаться"
  },
  {
    problem: "Постоянная усталость от вовлечения в продажи и вечный контроль сотрудников, операционка не позволяет сосредоточиться на более важных задачах",
    solution: "Все отделы компании работают как единый организм и выполняют свои задачи без лишнего надзора и опеки"
  }
];
---

<section class="container mx-auto px-4 py-20">
  <div class="text-center mb-20 max-w-3xl mx-auto">
    <h2 class="text-4xl mb-6">Уже через месяц вы получите полный порядок и контроль над каждым процессом в вашей компании</h2>
    <p class="text-xl opacity-80 max-w-4xl mx-auto">
      Мы знаем, что ваша истинная задача не просто внедрить битрикс24, а обеспечить максимальный рост объемов продаж и свободу от операционки
    </p>
  </div>
  
  {features.map((feature, index) => (
    <div class="grid md:grid-cols-2 gap-12 mb-12" key={index}>
      <div class="bg-light bg-opacity-20 p-8 rounded-2xl backdrop-blur-sm">
        <h3 class="text-xl mb-4">{feature.problem}</h3>
        <Icon name="cross" class="text-red-500" />
      </div>
      
      <div>
        <h3 class="text-xl mb-4">{feature.solution}</h3>
        <Icon name="check" class="text-green-500" />
      </div>
    </div>
  ))}
</section>