---
import Button from './UI/Button.astro';
---

<header class="container mx-auto py-6 px-4">
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <span class="text-2xl font-bold">NS</span><span class="text-2xl">Group</span>
    </div>
    
    <nav class="hidden md:flex items-center space-x-6 bg-[#173550] bg-opacity-70 py-2 px-4 rounded-3xl backdrop-blur-sm border border-white border-opacity-10">
      <a href="#" class="text-sm hover:text-secondary">Выгоды продукта</a>
      <a href="#" class="text-sm hover:text-secondary">Расчет стоимости</a>
      <a href="#" class="text-sm hover:text-secondary">Процесс работы</a>
      <a href="#" class="text-sm hover:text-secondary">Тарифы</a>
      <a href="#" class="text-sm hover:text-secondary">Кейсы</a>
      <a href="#" class="text-sm hover:text-secondary">Контакты</a>
    </nav>
    
    <Button variant="primary">Заказать консультацию</Button>
  </div>
</header>