---
import Button from './UI/Button.astro';
---

<section class="container flex flex-col md:flex-row mx-auto px-4 py-20">
  <div class="md:max-w-3xl my-auto">
    <h1 class="text-2xl md:text-2xl md:text-4xl leading-tight mb-8">
      Внедрим Битрикс24 под ключ и наведем полный порядок в вашем бизнесе, благодаря оцифровке каждого отдела и процесса
    </h1>
    <p class="md:text-xl  text-base opacity-60 mb-12">
      Организуем работу и контроль всех отделов компании<br> в едином окне Битрикс 24
    </p>
    <div class="flex flex-col sm:flex-row gap-4">
      <Button>Заказать консультацию</Button>
      <Button variant="secondary">Получить расчет стоимости</Button>
    </div>
  </div>

  <div class="relative h-full w-full">
    <div class="absolute right-0 md:-right-10 -bottom-10 w-[330px] h-[715px] bg-[#2FF5E3] bg-opacity-60 rounded-full blur-[160px]  -z-10"></div>
    <img src="/images/Hero.png" alt="Hero Image" class="h-full w-full rounded-2xl mt-8 md:mt-0 md:rounded-lg shadow-lg">
  </div>
</section>
