---
import Card from './UI/Card.astro';
import Button from './UI/Button.astro';
import Icon from './UI/Icon.astro';

const tariffs = [
  {
    name: "Базовый",
    price: "36 900 ₽",
    highlighted: false,
    features: [
      "Срок внедрения 5 дней",
      "1 встреча (ВКС)",
      "5 часов онлайн обучения",
      "Анализ отдела продаж компании и интервью с группой внедрения клиента",
      "Приглашение сотрудников и руководителей в Битрикс24",
      "Создание структуры Компании и настройка прав доступа",
      "Заказы базы клиентов и товаров из Excel"
    ]
  },
  {
    name: "Расширенный",
    price: "52 500 ₽", // Примерная цена, можно уточнить
    highlighted: true,
    features: [
      "Срок внедрения 10 дней",
      "3 встречи (ВКС)",
      "10 часов онлайн обучения",
      "Все опции тарифа 'Базовый'",
      "Дополнительные настройки CRM",
      "Интеграция с email-рассылками",
      "Базовые отчеты по продажам"
    ]
  },
  {
    name: "Комплексный",
    price: "68 200 ₽",
    highlighted: false,
    features: [
      "Срок внедрения 20 дней",
      "5 встреч (ВКС)",
      "15 часов онлайн обучения",
      "Все опции тарифа 'Базовый' и 'Расширенный'",
      "Приглашение сотрудников и руководителей в Битрикс24",
      "Создание структуры Компании и настройка прав доступа",
      "Заказы базы клиентов и товаров из Excel",
      "Анализ отдела продаж компании и интервью с группой внедрения клиента"
    ]
  }
];
---
<section class="container mx-auto px-4 py-10 md:py-20 relative">
  <h2 class="text-2xl md:text-4xl text-center mb-16">Тарифы</h2>

  <div class="absolute left-0 -bottom-10 w-[330px] h-[715px] bg-[#2FF5E3] bg-opacity-60 rounded-full blur-[160px]  -z-10"></div>
  
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mx-auto">
    {
      tariffs.map((tariff) => (
        <Card highlighted={tariff.highlighted}>
          <h3 class="md:text-xl  text-base font-bold mb-4">{tariff.name}</h3>
          <p class="text-2xl font-bold mb-6">{tariff.price}</p>
          <ul class="space-y-4 mb-8">
            {
              tariff.features.map((feature) => (
                <li class="flex items-start">
                  <Icon name="check" class="text-green-500 mt-1 mr-2" />
                  <span>{feature}</span>
                </li>
              ))
            }
          </ul>
          <Button class="w-full">Выбрать план</Button>
        </Card>
      ))
    }
  </div>
</section>