---
import Icon from './UI/Icon.astro';
---

<section class="container mx-auto px-4 py-20 text-center">
  <div class="relative bg-cover bg-center rounded-xl overflow-hidden">
    <div class="backdrop-blur-sm text-center">
      <h2 class="text-4xl font-medium mb-6 text-white">
        Причины успеха Битрикс24
      </h2>
      <p class="text-xl opacity-80 mb-12  text-white text-center">
        Позволяет зарабатывать больше при соизмерных вложениях
      </p>

      <div class="grid md:grid-cols-4 gap-8">
        <div class="text-white">
          <p class="text-5xl  mb-2">5-10%</p>
          <div class="w-12 h-0.5 bg-teal-400 mb-4 inline-block"></div>
          <p class="text-sm">
            В среднем меньше потерянных <br>
            клиентов
          </p>
        </div>

        <div class="text-white">
          <p class="text-5xl  mb-2">25-30%</p>
          <div class="w-12 h-0.5 bg-teal-400 mb-4 inline-block"></div>
          <p class="text-sm">
            Сокращается время на <br>
            выполнение рутинных <br>
            операций
          </p>
        </div>

        <div class="text-white">
          <p class="text-5xl  mb-2">15-20%</p>
          <div class="w-12 h-0.5 bg-teal-400 mb-4 inline-block"></div>
          <p class="text-sm">
            Повышается средняя <br>
            маржинальность сделок
          </p>
        </div>

        <div class="text-white">
          <p class="text-5xl  mb-2">5-7%</p>
          <div class="w-12 h-0.5 bg-teal-400 mb-4 inline-block"></div>
          <p class="text-sm">
            Повышается эффективность <br>
            повторных продаж
          </p>
        </div>
      </div>
    </div>
  </div>
</section>